.app-form-control {
    @apply font-base
        text-[16px] 
        text-black
        font-medium
        outline-none
        w-full
        border
        border-gray-400
        shadow-button
        px-4
        py-1.5
        transition-all
        duration-300
        focus:ring-1
        focus:shadow-button-hover
        focus:ring-indigo-500
        focus:border-indigo-500
        placeholder:text-gray-400;
}
