@mixin font-face-ttf($font-name, $path, $weight: normal, $style: normal) {
    @font-face {
        font-family: quote($font-name);
        src: url($path + '.ttf') format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}

@include font-face-ttf(Lora, '../assets/fonts/Lora/Lora-Regular', 400, normal);
@include font-face-ttf(Lora, '../assets/fonts/Lora/Lora-Medium', 500, normal);
@include font-face-ttf(Lora, '../assets/fonts/Lora/Lora-SemiBold', 600, normal);
@include font-face-ttf(Lora, '../assets/fonts/Lora/Lora-Bold', 700, normal);

@include font-face-ttf(Lora, '../assets/fonts/Lora/Lora-Italic', 400, italic);
@include font-face-ttf(Lora, '../assets/fonts/Lora/Lora-MediumItalic', 500, italic);
@include font-face-ttf(Lora, '../assets/fonts/Lora/Lora-SemiBoldItalic', 600, italic);
@include font-face-ttf(Lora, '../assets/fonts/Lora/Lora-BoldItalic', 700, italic);
